h2 Productos

nav.section-menu
  each materia_prima, materia_id in section_data
    - var materia_url = section_url+"/"+materia_id
    - var c = (content_id == materia_id)? 'selected':'';
    a(href=materia_url, class=c)= materia_prima.title
    nav
      each article, article_id in materia_prima.articles
        - var c = (content_id == article_id)? 'selected':'';
        a(href=materia_url+"/"+article_id, class=c)= article.title+" "+article.subtitle

each materia_prima, materia_id in section_data
  - var c = (subsection == materia_id || content_id == materia_id)? 'selected':''
  article(id=materia_id, class=c)
    each article, article_id in materia_prima.articles
      - var c = (content_id == article_id)? 'selected':''
      article(id=article_id, class=c)
        figure
            h4= article.title
            h5= article.subtitle
        ul
          li
            em Descripción:
            | #{article.description}
          li
            em Ingredientes:
            | #{article.ingredients}
          li
            em Presentación:
            | #{article.presentation}
        img(src=article.logo_src)
    h3= materia_prima.title
    p= materia_prima.description
